
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

html,
 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(241, 115, 227);
    
 }
 .Landingpage {
    width: 100%;
    max-height: 100vh; 
    /*background-image: url(images/travel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;*/
    justify-content: center;
    align-items: center;
} 
.Landingpage img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.clouds{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    float: inline-end;
}

.clouds img {
    position: absolute;
    bottom: 0!important;
    max-width: 100%;
    max-height: 100vh;
    animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
}

.white {
    background-color: cornsilk;
}

.Landingpage h2 {
    color: cornsilk;
    position: absolute;
    text-align: center;
    font-weight: 600;
    font-size: 4em;
    text-transform: uppercase;
    text-decoration: none;
}

/*================navigation bar==============*/
.nav-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(241, 115, 227);

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.Navlinks a {
    text-decoration: none;
    padding: 20px;
}

/*===========home page ============*/
.welcome {
    min-height: 80vh;
    background-image: url(images/heart.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    opacity: 1;

    background-attachment: fixed;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.about {
    height: 500px;
    
}
.projects {
    height: 500px;
    background-color: yellowgreen;
}
.welcome h1 {
    font-family: 'Abril Fatface', cursive;
    color: purple;
    font-weight: 900;
}
.welcome {
    text-align: center;
}